@{
    ViewData["Title"] = "Home";
}



    @using Quantum.Models
    @model List<Event>



<div class="text-center">
   
    <h1 class="display-4" style="color:darkslateblue" >Welcome to Quantum</h1>

    <p>Learn about Quantum     <a href="">Create, Organize and Manage Invitations of your event. </a>    </p>

    <br />

    <h1 class="display-4" style="color:red">Quantum V 0.01 : DEV </h1>
    <h1 class="display-4" style="color:red">Check in Page added </h1>
    <h1 class="display-4" style="color:red">Create Event Detailed  </h1>
    <h1 class="display-4" style="color:red">USer acc DB_Tbl  </h1>




</div>

