@{
    ViewData["Title"] = "Home";
}



    @using Quantum.Models
    @model List<Event>



<div class="text-center">
   
    <h1 class="display-4" style="color:darkslateblue" >Welcome to Quantum</h1>

    <p>Learn about Quantum     <a href="">Create, Organize and Manage Invitations of your event. </a>    </p>

    
</div>
