
@{
    
    ViewData["Title"] = "Event";
}

@using Quantum.Models
@model List<Event>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers







@if(Model != null && Model.Count() > 0)
{

    


    <table class="table table-striped">

        <thead>
            <tr>
                <th> Event ID</th>
                <th>Event</th>

            </tr>

        </thead>



        <tbody>
            @foreach (var evnt in Model)
            {
                <tr>
                    <td>@evnt.Id</td>
                    <td>@evnt.Name</td>
                    <td><a class="btn btn-link" asp-controller="InvitationCard" asp-action="Card" asp-route-id="@evnt.Name"> Create Card</a></td>
                   

                </tr>
                
            }
        </tbody>



    </table>
}


