
@{
    ViewData["Title"] = "Event";
}
<h3>==== Abstract Structure ====</h3>
<a href =" https://localhost:7001/ChecKIn/CheckIn"> Go To check in </a>
<h3>Create Event</h3>
<h3>Create List of Guest</h3>
<h3>Send Invitations</h3>
<h3>Resources Planing</h3>

