<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/aff793b0-5b1f-45a6-b21b-515f769da15d/resourcegroups/QuantumGroup/providers/Microsoft.Web/sites/Quantum20240613144318</ResourceId>
    <ResourceGroup>QuantumGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://quantum20240613144318.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>59af07d3-7d4a-4d47-aff0-571fa1c00950</ProjectGuid>
    <PublishUrl>https://quantum20240613144318.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Quantum20240613144318</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>