<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://registry.hub.docker.com/catrobien</RegistryUrl>
    <UserName>catrobien</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>59af07d3-7d4a-4d47-aff0-571fa1c00950</ProjectGuid>
    <_TargetId>DockerContainerRegistry</_TargetId>
    <PublishImageTag>DHU</PublishImageTag>
  </PropertyGroup>
</Project>