@model IEnumerable<Quantum.Models.QRCodeModel>

@{
    ViewData["Title"] = "Card";
}


<div style="">

    <img src="~/imges/Hand.png" height="100" width="100" />
    <h3 style="text-align:center"> Invitation Card !</h3><br />

</div>


<h2>Acess Card</h2>
<h3>@ViewBag.EventName</h3>

<div>
    @ViewBag.SVG

</div>

